.footer__menu {
  display: grid;
  max-width: 68%;
  margin: 26px auto 0 3%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__menu {
    margin: 0 5% auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu {
    grid-template-columns: max-content max-content max-content max-content max-content;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__menu {
    margin: 26px auto 0 4.6875%;
  }
}

@media screen and (min-width: 1280px) {
  .footer__menu {
    margin: 26px auto 0 3.75%;
  }
}
