.cover__subtitle {
  margin: 0;
  padding: 0;
  width: 35.15625%;
  position: absolute;
  bottom: 30.46875%;
  left: 32.421875%;
  font: normal normal 18px/22px Inter, Arial, sans-serif;
  text-align: center;
  color: #FFF;
  z-index: 1;
}
