.place__paragraphs {
  grid-area: paragraphs;
  width: 90%;
  margin: 7px auto 0;
}

@media screen and (min-width: 768px) {
  .place__paragraphs {
    width: 92%;
    align-self: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraphs {
    margin: 20px 0 0 29px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraphs {
    margin: 20px 0 0 35px;
  }
}
