.place__paragraph {
  color: #FFF;
  font: normal 400 16px/26px 'Inter', Arial, sans-serif;
  margin: 25px auto 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font: normal 400 18px/1.62 'Inter', Arial, sans-serif;
    margin: 25px auto 0;
    padding: 0;
  }
}
