.intro__text {
  font: normal 400 16px/26px 'Inter', Arial, sans-serif;
  color: #FFF;
  width: 90%;
  padding: 40px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__text {
    margin: auto;
    padding: 41px 0 0 0;
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    margin: 0 0 0 3%;
    width: 94%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__text {
    margin: 0 0 0 4.6875%;
    width: 68%;
  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    margin: 0 0 0 11.5%;
    padding: 39px 0 0;
    width: 55%;
  }
}
