.place__link {
  grid-area: link;
  color: #FFF;
  padding: 0;
  margin: 12px 5% 0;
  text-decoration-line: underline;
  font: normal 400 18px/122% 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__link {
    margin: auto auto 3px 7%;
  }
}

@media screen and (min-width: 1024px) {
  .place__link {
    margin: auto auto 2px 35px;
  }
}
