.lead__caption {
  margin: 8px 0 0 calc((((1024 - 928) / 2) / 1024) * 100%);
  padding: 0;
  font: normal normal 10px/14px Inter, Arial, sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFF;
}
