.lead__caption {
  margin: 8px 0 0 5%;
  padding: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFF;
  font: normal 400 10px/14px 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin: 5px 0 0 3%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    margin: 5px 0 0 4.6875%;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    margin: 5px 0 0 11.5%;
  }
}
