.cover__title {
  margin: 0;
  padding: 0;
  width: 54.6875%;
  position: absolute;
  top: 30.46875%;
  left: 22.65625%;
  font: normal 900 72px/76px Inter, Arial, sans-serif;
  text-align: center;
  color: #FFF;
  z-index: 1;
}
