.place {
  display: grid;
  grid-template-areas:
    "title ."
    "title url-heading"
    "title link"
    "image paragraphs"
    "image paragraphs";
  gap: initial;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    width: 100%;
    margin: 0;
    padding: 49px 0 0 0;
    grid-template-areas:
      "title"
      "url-heading"
      "link"
      "image"
      "paragraphs";
  }
}

@media screen and (min-width: 768px) {
  .place {
    width: 94%;
    grid-template-columns: 47% 53%;
    margin: 0 auto;
    padding: 74px 0 0 0;
    align-items: end;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    width: 90.625%;
    padding: 78px 0 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    width: 77%;
  }
}
