.place {
  display: grid;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .place {
    width: 100%;
    margin: 0;
    padding: 49px 0 0 0;
    grid-template-areas:
      "title"
      "url-heading"
      "link"
      "image"
      "paragraphs";
    gap: inherit;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .place {
    width: 100%;
    margin: 0;
    padding: 49px 0 0 0;
    grid-template-areas:
      "title"
      "url-heading"
      "link"
      "image"
      "paragraphs";
    gap: inherit;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    width: 94%;
    grid-template-columns: 47% 53%;
    margin: 0 auto;
    padding: 74px 0 0 0;
    grid-template-areas:
      "title ."
      "title url-heading"
      "title link"
      "image paragraphs"
      "image paragraphs";
    gap: initial;
    align-items: end;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    width: 90.625%;
    grid-template-columns: 47% 53%;
    margin: 0 auto;
    padding: 78px 0 0 0;
    grid-template-areas:
      "title ."
      "title url-heading"
      "title link"
      "image paragraphs"
      "image paragraphs";
    gap: initial;
    align-items: end;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    width: 77%;
    grid-template-columns: 47% 53%;
    margin: 0 auto;
    padding: 78px 0 0 0;
    grid-template-areas:
      "title ."
      "title url-heading"
      "title link"
      "image paragraphs"
      "image paragraphs";
    gap: initial;
    align-items: end;
  }
}
