.place__url-heading {
  grid-area: url-heading;
  color: #AAA;
  padding: 0;
  font: normal 400 12px/12px 'Inter', Arial, sans-serif;
  letter-spacing: 2px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__url-heading {
    margin: 32px 5% 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__url-heading {
    margin: auto auto 13px 8%;
  }
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    margin: auto auto 13px 35px;
  }
}
