.place__url-heading {
  font: normal normal 12px/12px Inter, Arial, sans-serif;
  letter-spacing: 2px;
  color: #AAA;
  margin: auto auto 0 0;
  padding: 0;
  /*grid-column: 2/3;
  grid-row: 1/2;*/
}
